{% extends "layout.twig" %}

{% block title %}Login
{% endblock %}

{% block body %}

    <section class="section">
        <h4 class="title is-1">
            Welcome
            {{ user.name }}!!
        </h4>
        <p>
            Your Email is
            <strong>{{ user.email }}</strong>
        </p>

    </section>


{% endblock %}
